@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    min-height: 100px;
    height: auto;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 139px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(23, 23, 23, 0.25);
}

.logo{
    float: left;
    margin-top: 35px;
}

.navigation{
    float: right;
    padding-top: 56px;
}


.navigation li{
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.navigation a{
    color: #171717;
    font-size: 22px;
    text-decoration: none;
}

.navigation ul li  a:hover{
    color: #A43632;
    text-decoration: underline;
}


/* Hero section of the website */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    /* background-color: #e7e7e7; */
}

.hero__text{
    display: flex;
    flex-direction: column;
    gap: 13px;
    flex-basis: 50%;
    padding-right: 60px;
}

.hero__text .heading{
    color: #A43632;
    font-size: 42px;
    font-weight: 700;
}

.hero__text .subheading{
    color: rgba(23, 23, 23, 0.7);
}

.hero__text .form{
    display: flex;
    position: relative;
}

.hero__text .form .input{
    
    width: 100%;
    font-size: 18px;
    margin-top: 40px;
    color: rgba(23, 23, 23, 1);
    padding: 15px 170px 15px 20px;
    border-radius: 4px;
    border: 2px solid #DE9492;
}

.hero__text .form .input::placeholder{
    color: rgba(23, 23, 23, 0.32);
}

.hero__text .form .btn-getstarted{
    position: absolute;
    right: 5px;
    top: 45px;

    background-color: #A43632;
    color: #ffffff;
    border-radius: 4px;
    padding: 15px 40px;
    outline: none;
    border: 0;
    cursor: pointer;
}

.hero__text .form .btn-getstarted:hover{
    background-color: #ea6e6a;
}

.hero__images{
    flex-basis: 50%;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero__images .image1{
    height: 398px;
    position: absolute;
    top: 81px;
}

.hero__images .image2{
    height: 267px;
    position: absolute;
    top: 267px;
    left: 236px;
}




/* Who we are section */

.who-we-are{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 86px 0;

    background: linear-gradient(119.32deg, #FFFFFF -47.61%, #FDFAF7 129.23%, #FDFAF7 129.23%), #FDFAF7;
    box-shadow: 0px -2px 4px rgba(23, 23, 23, 0.1);
}

.who-we-are .imagebox{
    flex-basis: 40%;
}

.who-we-are .textbox{
    flex-basis: 50%;
    font-size: 18px;
    line-height: 200%;
    color: #171717;
}

.who-we-are .text{
    margin-top: 30px;
}   

/*--------- Services section ------ */

.services{
    width: 100%;
    height: auto;
    overflow: auto;
    margin: 101px 0 150px 0;
}

.services__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
}

.services__container .servicebox{
    flex-basis: 30%;
    border: 2px solid rgba(237, 203, 192, .2);
    filter: drop-shadow(0px 1px 2px rgba(23, 23, 23, 0.1));
    border-radius: 4px;
    padding: 30px;
    border-radius: 6px;
}

.servicebox .icon{
    height: 40px;
}

.servicebox .heading{
    margin: 13px 0 6px 0;
    font-size: 14px;
    font-weight: 600;

}
.servicebox .description{
    font-size: 14px;
    color: #666666;
    line-height: 21.6px;
}

/* --------- Pricing section --------- */

.pricing{
    margin: 0 0 100px 0;
}
.pricing__container{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;

}
.pricing__box{
    flex-basis: 32.5%;
    border: 1px solid rgba(23, 23, 23, 0.03);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
}

.pricing__box .price{
    color: #171717;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

}

.pricing__box .month{
    font-weight: 400;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}

.pricing__box .plan{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 2px;
}

.pricing__box .plan__desc{
    color: #666666;
    font-size: 16px;
    margin-bottom: 24px;
    min-height: 70px;
}

.pricing__box .features{
    list-style: none;
    margin-bottom: 40px;
}

.pricing__box .features li{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
















/* Generic Style rules */
.custom-heading{
    font-size: 28px;
    color: #171717;
    font-weight: 500;
    margin-bottom: 18px;
    position: relative;
    z-index: 0;

}

.custom-heading::before{
    content: "";
    width: 100%;
    height: 13px;
    background-color: #F0D9C2;
    position: absolute;
    z-index: -1;
    bottom: 10px;
}

.wb-title{
    text-align: center;
}

.wb-subtitle{
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    width: 100%;
    max-width: 558px;
}

.wb-textbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    
    border-radius: 4px;
    padding: 10px 50px;
    outline: none;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    display: inline;
}

.btn:hover{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-primary{
    background-color: #A43632;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover{
    background-color: #F3E7D8;
    color: #A43632;
    border: 1px so;
}

.btn-primary-outline{
    background-color: #ffffff;
    border: 1px solid #F3E7D8;
    color: #A43632;
    transition: all 0.3s ease-in-out;
}

.btn-primary-outline:hover{
    background-color: #F3E7D8;
    border: 1px solid #A43632;
    color: #A43632;
}

.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
}